




@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Montserrat', sans-serif;
   }
a.active hr{

    display: block;
}
/* Hide number input arrows in WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slick-prev, .slick-next {
    z-index: 10;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
  }
/* Ensures there is no extra padding around slides */
.slick-slide {
    padding: 0 !important;
    margin: 0 !important;
  }
    
@layer base {
  :root {
        --radius: 0.5rem;
    }
}
